.pegStacks
{
	width: 10%;
	text-align: center;
}

.tinyPegs
{
	-webkit-transform: scale(0.8);
	z-index: 9;
}

.smallPegs
{
	z-index: 10;
	/*position: relative;*/
}

.mediumPegs
{
	-webkit-transform: scale(1.2);
	z-index: 11;
}

.bigPegs
{
	-webkit-transform: scale(1.4);
	z-index: 12;
	/*-webkit-filter: contrast(150%);*/
}

#credits
{
	margin-top: 3%;
	font-size: 200%;
	width: 100%;
	text-align: center;
	box-shadow: black;
}

