.pegStacks
{
	width: 10%;
	text-align: center;
}

.tinyPegs
{
	-webkit-transform: scale(0.8);
	/*z-index: 100;*/
	position: absolute;
	margin-left: -4%;
	margin-top: -4%;
}

.smallPegs
{
	/*z-index: 200;*/
	position: absolute;
	margin-left: -4%;
	margin-top: -4%;
}

.mediumPegs
{
	-webkit-transform: scale(1.2);
	/*z-index: 300;*/
	position: absolute;
	margin-left: -4%;
	margin-top: -4%;
}

.bigPegs
{
	-webkit-transform: scale(1.4);
	/*z-index: 400;*/
	position: absolute;
	margin-left: -4%;
	margin-top: -4%;

	/*-webkit-filter: contrast(150%);*/
}

#credits
{
	margin-top: 8%;
	font-size: 200%;
	width: 100%;
	text-align: center;
	box-shadow: black;
}

